
body{
  font: bold  16px/22px 'Roboto', sans-serif ;
  color:  #000000;
  margin: 0;
  padding: 0;

}
h1{
  font: bold 40px 'roboto';
}
h2{
  font: bold 36px 'roboto';
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.container{
  width: 880px;
  margin: 0 auto;
  outline: 3px solid  red;
}


/* Оформление хедера!!! */
.main-header{
  
  padding: 23px 0;
}

.logo{
  float:left;
  width:140px;
}

.main-navigation{
  float: left;
  width: 440px;
  vertical-align: middle; 
}

.basket{
  float: right;
  width: 100px;

}

.main-menu li{
  display: inline-block;
  
}


/* Оформление Главного контейнера!!! */

.features-item{
  float: left;
  width: 240px;
  padding-right: 80px;
}

.features-item:last-child{
  padding-right: 0;
}

.features-row{
  padding-bottom: 80px;
  border-bottom:2px solid #eeeeee;
}
.content-row{
  border-bottom:2px solid #eeeeee;

}
.content-left{
  float: left;
  width: 610px;
}

.content-right{
  float: right;
  width: 250px;
}
.content-right .logo{
  display: block;
  padding:0 31px;
  width: 188px;
  outline: 2px solid red;
  
}

.our-project{
  
  border-bottom:2px solid #eeeeee;
  
}
.our-project-item{
    КАК ИХ СМЕСТИТъ?!?!? У меня скоро нервный тик будет. Этот же вопрос относится и к лого
}

}
/* Оформление для преразметки блоков. Удалить по окончательному созданию!!! */


.main-container{
  background-color: #ffffff;

}

.slider{
  background-color: #D4AF37;
  display : none;
}

.main-footer{
  background-color: #10738e;
}


/*Временно!!!!!!!!! До замены карты на интерактивную.*/
.map{
  width: 100%;
  margin: 0 auto;
}

/* The END!!!*/

