/*
                                          .   
                                        .o8   
oooo d8b  .ooooo.   .oooo.o  .ooooo.  .o888oo 
`888""8P d88' `88b d88(  "8 d88' `88b   888   
 888     888ooo888 `"Y88b.  888ooo888   888   
 888     888    .o o.  )88b 888    .o   888 . 
d888b    `Y8bod8P' 8""888P' `Y8bod8P'   "888" */

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;

}
span{
  margin: 0;
  padding: 0;
  outline: 0;

}
/*
oooooooooooo                           .                                                .o8           
`888'     `8                         .o8                                               "888           
 888          .ooooo.  ooo. .oo.   .o888oo         ooo. .oo.    .ooooo.  oooo d8b  .oooo888   .oooo.o 
 888oooo8    d88' `88b `888P"Y88b    888           `888P"Y88b  d88' `88b `888""8P d88' `888  d88(  "8 
 888    "    888   888  888   888    888   8888888  888   888  888ooo888  888     888   888  `"Y88b.  
 888         888   888  888   888    888 .          888   888  888    .o  888     888   888  o.  )88b 
o888o        `Y8bod8P' o888o o888o   "888"         o888o o888o `Y8bod8P' d888b    `Y8bod88P" 8""888P' 
                                                                                                      
                                                                                                      
                                                                                                      */
@charset "UTF-8";

 @font-face {
  font-family: 'symbols-nerds';
  src: url('../font/symbols-nerds.eot?27841936');
  src: url('../font/symbols-nerds.eot?27841936#iefix') format('embedded-opentype'),
       url('../font/symbols-nerds.woff?27841936') format('woff'),
       url('../font/symbols-nerds.ttf?27841936') format('truetype'),
       url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */

/* .o8                       .o8              
"888                      "888              
 888oooo.   .ooooo.   .oooo888  oooo    ooo 
 d88' `88b d88' `88b d88' `888   `88.  .8'  
 888   888 888   888 888   888    `88..8'   
 888   888 888   888 888   888     `888'    
 `Y8bod8P' `Y8bod8P' `Y8bod88P"     .8'     
                                .o..P'      
                                `Y8P'       
                                            */

                                              
body{
  font: 500  16px/22px 'Roboto', sans-serif ;
  color:  #000000;
  margin: 0;
  padding: 0;

}
h1{
  font: bold 40px 'roboto';
}
h2{
  font: 500 36px/36px 'roboto';
}

.active a {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color:; /* цвет текста для нективной ссылки */
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.container{
  width: 880px;
  margin: 0 auto;
  position: relative;
}
                                              
/*
oooo                                  .o8                     
`888                                 "888                     
 888 .oo.    .ooooo.   .oooo.    .oooo888   .ooooo.  oooo d8b 
 888P"Y88b  d88' `88b `P  )88b  d88' `888  d88' `88b `888""8P 
 888   888  888ooo888  .oP"888  888   888  888ooo888  888     
 888   888  888    .o d8(  888  888   888  888    .o  888     
o888o o888o `Y8bod8P' `Y888""8o `Y8bod88P" `Y8bod8P' d888b    
                                                              
                                                              
                                                              */

.main-header{
  background-color: #eeeeee;
  min-height: 120px;
}

.main-header .logo{
  float:left;
  width:140px;
  margin-top:27px;
}

.main-navigation{
  float: left;
  width: 400px;
  
  margin-top: 58px;
  margin-left: 181px;

  text-transform: uppercase;
}

.main-menu li{
  display: inline-block;
  margin-right: 45px;
    
  font-size: 14px
}
.main-menu li:last-child{
  margin-right: 0;
}
.main-menu a, .basket a{
  display: block;
  color: #000000;
}

.basket{
  float: right;
  display: block;
  float: right;
  width: 86px;
  margin-top: 58px;
  font-size: 14px;
  text-transform: uppercase;
}

.main-menu a:hover, .basket a:hover{
  color: #fb565a;
}

.main-menu a:active, .basket a:active{
  color: #000000;
  opacity: 0.4;
}

.main-menu .active{
  border-bottom: 2px solid #fb565a;
  padding-bottom: 8px;
}


/*
  .oooooo.                             .              o8o                                 
 d8P'  `Y8b                          .o8              `"'                                 
888           .ooooo.  ooo. .oo.   .o888oo  .oooo.   oooo  ooo. .oo.    .ooooo.  oooo d8b 
888          d88' `88b `888P"Y88b    888   `P  )88b  `888  `888P"Y88b  d88' `88b `888""8P 
888          888   888  888   888    888    .oP"888   888   888   888  888ooo888  888     
`88b    ooo  888   888  888   888    888 . d8(  888   888   888   888  888    .o  888     
 `Y8bood8P'  `Y8bod8P' o888o o888o   "888" `Y888""8o o888o o888o o888o `Y8bod8P' d888b    
                                                                                          
                                                                                          
                                                                                          */
/*Стили для Особенностей студии.*/
.features-row{
  margin-top: 80px;
  padding-bottom: 80px;
  border-bottom:2px solid #eeeeee;
}

.features-item{
  float: left;
  width: 240px;
  margin-right: 80px;
  font-size: 18px;
}

.features-item:last-child{
  margin-right: 0;
}

.features-title{
  margin-top:23px;
  font-size: 18px;
  text-transform: uppercase;
}

.features-item p{
  margin-top:18px;
  font-size: 15px;
  font-weight: 500;  /* ВААААААААААААААААААААААААААААААЖНОООООООООО. Не удается настроить текст так, как он выглядел в макете. При размере шрифта к в макете, он ведет себя немного иначе.*/
  color: #283136;
  letter-spacing: -.035em;
}

.features-item .button{
  margin-top:25px;
  display: inline-block;
  width: 140px;
  height: 38px;
  text-align: center;
  border-radius: 4px;
  background-color: #fb565a;
  color: #ffffff;
  line-height: 40px;
}

.features-item .button-green{
  background-color: #00ca74;
}

.features-item .button-yellow{
  background-color: #efc84a;
}

.features-item .button:hover, .feedback .button:hover{
  background-color: #d6494d;
}

.features-item .button:active, .feedback .button:active{
  background-color: #b63538;
}

.features-item .button-yellow:hover{
  background-color: #d6ae2c;
}

.features-item .button-yellow:active{
  background-color: #c09b24;
}

.features-item .button-green:hover{
  background-color: #01a25e;
}

.features-item .button-green:active{
  background-color: #009053;
}

/*Стили для основного контента.*/
.content-row{
  border-bottom:2px solid #eeeeee;
  margin-top: 70px;
  padding-bottom: 50px;
}

.content-main{
  float: left;
  width: 600px;
  font: 500 36px/40px;
}

.content-main p{
  margin-top:19px;
}

.content-logo{
  float: right;
  width:240px;
}

.content-logo img{
  display: block;
  margin: 0 auto;
  margin-right: 22px;
  margin-top: -10px;
}

.content-logo span{
  position: relative;
  display: inline-block;
  width: 240px;
  text-align: center;
  margin-top:27px;
  text-transform: uppercase;
}
.content-logo span:before{
  content: "";
  position: absolute;
  width: 65px;
  height: 2px;
  background-color: #f4f4f4;
  top:10px;
  left: 0;
}
.content-logo span:after{
  content: "";
  position: absolute;
  width: 65px;
  height: 2px;
  background-color: #f4f4f4;
  top:10px;
  right: 0;
}

.content-work-info{
  margin-top:44px;
}


.details-left{
  float: left;
  width: 460px;
}

.details-right{
  float: right;
  width: 240px;
}

.details .caption{
  text-transform: uppercase;
}
.details ul{
  margin-top:24px;
}
.performance_list{
  position: relative;
}
.performance_list-item {
    position: relative;
    padding-left: 35px;
    margin-bottom: 21px;
}

.performance_list-item:before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fc8e91;
  position: absolute;
  top: 10px;
  left: 0px;
}

/*Стили для описания наших проектов.*/
.our-project-container{
  display: inline-block;
  width: 880px;
  margin: 42px 0 90px 0;
  padding-bottom: 30px;
  border-bottom: 2px solid #eeeeee;
}
.our-project-item{
  display: inline-block;
  margin-right: 110px;
  vertical-align: middle;
  opacity: 0.2;
  padding-left:10px;
}

.our-project-item:nth-child(3n){
  margin-right: 0;
}

.our-project-item:hover, .our-project-item:active{
  opacity: 1;
}



/*Catalog*/

.main-title{
  text-align: center;
  background-color: #eeeeee;
  
}

.main-title h1{
  width: 800px;
  vertical-align: middle;
  font: 40px;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom:95px;
  padding-top: 55px;
}

.filter{
  float: left;
  width: 240px;
}

.catalog{
  float: right;
  width: 560px;
}
.shop-item{
  float: left;
  width: 240px;
  margin-right:80px;
  margin-bottom:80px;
}

.shop-item:nth-child(2n+2){
  margin-right: 0;
}

.shop-item-browser{
  height: 30px;
  width: 240px;
}
article:nth-child(1) .shop-item-layout{ background-image: url(../img/shop/aviator.png);}
article:nth-child(2) .shop-item-layout{ background-image: url(../img/shop/sunset.png);}
article:nth-child(3) .shop-item-layout{ background-image: url(../img/shop/forte.png);}
article:nth-child(4) .shop-item-layout{ background-image: url(../img/shop/organic.png);}
article:nth-child(5) .shop-item-layout{ background-image: url(../img/shop/avenue.png);}
article:nth-child(6) .shop-item-layout{ background-image: url(../img/shop/dovetail.png);}

.shop-item-layout{
  position: relative;
  width: 240px;
  height: 240px;
}

.shop-item-description{
  position: absolute;
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  padding-top: 36px;
  top:20px;
  left:20px;

  display: none;
}

.shop-item-description header{
  text-align: center;
  text-transform: uppercase;
  font: bold 18px/8.5px;
}

.shop-item-description p{
  width: 140px;
  text-align: center;
  margin: 0 auto;
  margin-bottom:32px;
  font-size: 14px;
}

.shop-item-description a{
  display: block;
  text-align: center;
  line-height: 40px;
  height: 38px;
  width: 140px;
  margin: 0 auto;
  background: #fb565a;
  color: #ffffff;
}

.shop-item:hover .shop-item-description{
  display: block;
}





/*
oooooooooooo                     ooooooooooooo                    
`888'     `8                     8'   888   `8                    
 888          .ooooo.   .ooooo.       888       .ooooo.  oooo d8b 
 888oooo8    d88' `88b d88' `88b      888      d88' `88b `888""8P 
 888    "    888   888 888   888      888      888ooo888  888     
 888         888   888 888   888      888      888    .o  888     
o888o        `Y8bod8P' `Y8bod8P'     o888o     `Y8bod8P' d888b    
                                                                  
                                                                  
                                                                  */

.main-footer-map{
  position: relative;
  background-image: url(../img/map-cap.png);
  width: 100%;
  height: 416px;
}

.footer-bottom{
  margin: 67px 0;
}

.feedback{
  position: absolute;
  display: block;
  width: 250px;
  background-color:#ffffff;
  padding-left:20px;
  padding-bottom: 25px;
  top:88px;
  left:0;
}

.feedback .name{
  text-transform: uppercase;
  font-weight: bold;
  
  padding-top:33px;
}

.feedback .address{
  padding-top:25px;
  margin-bottom: 28px;
  font-size: 16px;
  width: 200px;
  color: #666666;
  font-weight: medium;
}

.feedback .phone{
  margin-bottom:34px;
  color: #666666;
}

.feedback .button{
  width: 205px;
  min-height: 38px;
  display: block;
  background-color: #fb565a;
  line-height: 40px;
  text-align:center;
  border-radius: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-map-logo{
  position: absolute;
  top: 113px;
  right: -30px;
}

.footer-social{
  margin:0;
  padding: 0;
}


.footer-social-sprite{
  float:left;
  width: 255px;
  margin-right: 55px;
}


.social-btn{
  position: relative;
  display: inline-block;
  background-color: #e1e1e1;
  width: 63px;
  height: 63px;
  border-radius: 100%;
  margin-right: 22px;
}
.social-btn:last-child{
  margin-right:0;
}

.sprite--icon-vk {
  position: absolute;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: block;
  left:18px;
  top:24px;
  width: 26px;
  height: 15px;
  background-position: -102px -97px;
}
.sprite--icon-facebook {
  position: absolute;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: block;
  left:26px;
  top:20px;
  width: 12px;
  height: 22px;
  background-position: -102px -55px;
}

.sprite--icon-instagramm {
  position: absolute;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: block;
  left:21px;
  top:21px;
  width: 21px;
  height: 21px;
  background-position: -10px -97px;
}

.footer-friend-request{
  float:left;
  width: 570px;
}
.footer-friend-request h3{
  font-size: 36px;
  font-weight: bold;
  margin-bottom:10px;
}

/*
 .oooooo..o                      o8o      .             
d8P'    `Y8                      `"'    .o8             
Y88bo.      oo.ooooo.  oooo d8b oooo  .o888oo  .ooooo.  
 `"Y8888o.   888' `88b `888""8P `888    888   d88' `88b 
     `"Y88b  888   888  888      888    888   888ooo888 
oo     .d8P  888   888  888      888    888 . 888    .o 
8""88888P'   888bod8P' d888b    o888o   "888" `Y8bod8P' 
             888                                        
            o888o                                       
                                                        */
/*.sprite {
    background-color: #e1e1e1;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    
}

.sprite--icon-basket {
    width: 15px;
    height: 15px;
    background-position: -10px -10px;
}

.sprite--icon-check-off {
    width: 23px;
    height: 23px;
    background-position: -45px -10px;
}

.sprite--icon-check-on {
    width: 27px;
    height: 23px;
    background-position: -10px -53px;
}

.sprite--icon-circle {
    width: 25px;
    height: 25px;
    background-position: -57px -53px;
}

.sprite--icon-circle-dot {
    width: 25px;
    height: 25px;
    background-position: -102px -10px;
}

.sprite--icon-facebook {
    width: 12px;
    height: 22px;
    background-position: -102px -55px;
}

.sprite--icon-instagramm {
    width: 21px;
    height: 21px;
    background-position: -10px -97px;
}

.sprite--icon-vk {
    width: 26px;
    height: 15px;
    background-position: -102px -97px;
}
*/



/*
 .oooooo..o oooo   o8o        .o8                     
d8P'    `Y8 `888   `"'       "888                     
Y88bo.       888  oooo   .oooo888   .ooooo.  oooo d8b 
 `"Y8888o.   888  `888  d88' `888  d88' `88b `888""8P 
     `"Y88b  888   888  888   888  888ooo888  888     
oo     .d8P  888   888  888   888  888    .o  888     
8""88888P'  o888o o888o `Y8bod88P" `Y8bod8P' d888b    
                                                      
                                                      
                                                      */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.main-slider{
  background: #eeeeee;
}

.wrapper-slider {
  height: 315px;
  margin: 0 auto;
  position: relative;
  width: 880px;
}

.slider {
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
}

.slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slide1 { background:#eeeeee; }
.slide2 { background:#eeeeee; }
.slide3 { background:#eeeeee; }

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3{
  opacity: 1;
  z-index: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.wrapper-slider > input {
  display: none;
}

.wrapper-slider .controls {
  left: 50%;
  margin-left: -98px;
  position: absolute;
  z-index: 1;
  bottom: 30px;
}

.wrapper-slider label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background ease-in-out .5s;
  -moz-transition: background ease-in-out .5s;
  -o-transition: background ease-in-out .5s;
  transition: background ease-in-out .5s;
}

.wrapper-slider label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
{
  background: red;
  z-index: 100;
}

.wrapper-slider label:after {
  border: 2px solid #ddd;
  content: " ";
  display: block;
  height: 12px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/*
         oooo   o8o        .o8                                   .o8                                        
         `888   `"'       "888                                  "888                                        
 .oooo.o  888  oooo   .oooo888   .ooooo.  oooo d8b          .oooo888   .ooooo.   .oooo.o  .ooooo.  oooo d8b 
d88(  "8  888  `888  d88' `888  d88' `88b `888""8P         d88' `888  d88' `88b d88(  "8 d88' `"Y8 `888""8P 
`"Y88b.   888   888  888   888  888ooo888  888     8888888 888   888  888ooo888 `"Y88b.  888        888     
o.  )88b  888   888  888   888  888    .o  888             888   888  888    .o o.  )88b 888   .o8  888     
8""888P' o888o o888o `Y8bod88P" `Y8bod8P' d888b            `Y8bod88P" `Y8bod8P' 8""888P' `Y8bod8P' d888b    
                                                                                                            
                                                                                                            
                                                                                                            */
.slider-description{
  float: left;
  width: 400px;
}
.slides img{
  float: right;
  width: 400px;
}